.comboBox {
  height: 52px;
  background: $white;
  border-radius: $radius;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  border-bottom: $borderBottomHeight solid $border;
  &__label {
    @include form-label()
  }
  &__name {
    @include form-extra();
    font-size: 16px;
  }
  &__input {
    display: none;
  }
  &__arrow {
    position: absolute;
    color: $black;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    pointer-events: none;
    font-size: 12px;
  }
  &__current {
    color: $black;
    font-weight: 400;
    height: 48px;
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
  }
  &__values {
    border: 1px solid $border;
    background: $white;
    margin-top: 0px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.2s, max-height 0.5s;
    z-index: 1;
    &.active {
      opacity: 1;
      max-height: 1000px;
    }
  }
  &__value {
    color: $black;
    font-weight: 400;
    line-height: 42px;
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid $border;
    transition: background $transition;
    &:last-of-type {
      border: none;
    }
    &:hover {
      background: #f6f7f8;
    }
  }
}
