/*

  Example of use is at the bottom of file

*/

$breakpoints: ( 'phone': (max-width : 399px), 'large-phone': (max-width : 539px), 'tablet': (max-width : 767px), 'large-tablet': (max-width: 1023px), 'laptop': (max-width: 1279px), 'large-laptop': (max-width: 1365px), 'ultra': (max-width: 1599px));
$breakpointsUp: ( 'phone': (min-width : 400px), 'large-phone': (min-width : 540px), 'tablet': (min-width : 768px), 'large-tablet': (min-width: 1024px), 'laptop': (min-width: 1280px), 'large-laptop': (min-width: 1366px), 'ultra': (min-width: 1600px));
@mixin rwd($breakpoint, $breakpointUp: false) {
  @if ($breakpointUp !=false) {
    @if map-has-key($breakpointsUp, $breakpoint) {
      @media #{inspect(map-get($breakpointsUp, $breakpoint))} {
        @content;
      }
    }
    @else {
      @warn 'Unfortunately, not found breakpoint called `#{$breakpoint}`!';
    }
  }
  @else {
    @if map-has-key($breakpoints, $breakpoint) {
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
      }
    }
    @else {
      @warn 'Unfortunately, not found breakpoint called `#{$breakpoint}`!';
    }
  }
}

/*

  Example:

    ul {
      margin-bottom: 15px;

      @include rwd(tablet, true) {
        margin-bottom: 30px;
      }
      
      li {
        margin-bottom: 20px;

        @include rwd(tablet) {
          margin-bottom: 10px;
        }
      }
    }


  Result:

    ul {
      margin-bottom: 15px;
    }

    ul li {
      margin-bottom: 20px;
    }

    @media (min-width: 769px) {
      ul {
        margin-bottom: 30px;
      }
    }

    @media (max-width: 768px) {
      ul li {
        margin-bottom: 10px;
      }
    }

*/
