/**
*   Colors:
**/

$black: #000000;
$white: #ffffff;
$border: #d9d9d9;
$borderSecond: #ebebeb;
$placeholder: #d9d9d9;
$submitBtn: #6bd400;
$submitBtnHover: #5cb204;

$bold: 700;

$radius: 2px;
$borderBottomHeight: 2px;
$transition: 0.3s;

$grid: 842px;
$padding: 5px;